.flexbox-container1{
    display: flex;
    align-items: center;
    background-color: rgb(4, 4, 82);
    width: 100%;
    height: 10%;
    justify-content: center;

}
.flexbox-item{
    width: 300px;
    margin: 10px;
    border: 2px solid red;
    background-color: white;
}
.flexbox-container2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50%;

}
.flexbox-container3{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
